html {
    background-color: darkslategrey
}
#current, #history, h1 {
    width: 100%; 
    background-color: lightgrey;
    margin-bottom: 0;
}
.Section, .history {
    width: 32%;
    float: left; 
    min-width: 220pt; 
    font-size: 130%;
    margin: 0.2em;
}
.current {
    padding-bottom: 2em;
}
a {
    float: left;
     display: block;
     width: 100%;
}
#values {
    float: left;
    /* width: 50%; */
    /* font-size: 130%; */
    width: 100%;
    margin-right: 2.5em;
    padding-right: 1em;
    background-color: lightgrey;
}
.values {
    /* display: block; */
    float: left;
    margin: 1em;
}
.Michael {
    background-color: dodgerblue;
}
.Kevin {
    background-color: firebrick;
}
.Josh {
    background-color: forestgreen;
}
.chart {
    width: 100%;
    min-height: 30%;
    margin-right: 0.2em;
    float: left;
}