#current, #history{width: 100%; background-color: A0A0A0;}
.current, .history {
    float: left; 
    width: 30%; 
    min-width: 240pt; 
    font-size: 150%;
    padding-bottom: 20pt;
}
a {float: left;}
#values {
    float: right;
    font-size: 150%;
    margin: 1em 2.5em 1em 1em;
}
.Michael{background-color: E0E0FF;}
.Kevin{background-color: FFE0E0;}
.Josh{background-color: E0FFE0;}